body{
  margin:0;
}

div.left_text{
    display: inline-block;
    width: 20%;
    height: 100%;
    background: black;
}

div.left_text p, h2{
    color: white;
}

div.textOrVisBlock{
  height: 100vh;
  display: table;
  padding: 0 1.5vw;
}



div.textOrVisBlock .block_verticalAlign{
  vertical-align: middle;
  display: table-cell;
}





div.right_changingCharts{
    display: inline-block;
    position: fixed;
    width: 79%;
    height: 100vh;
    background: none;
}

div.visBlock{
  position: absolute;
  top: 100vh;
  left: 2vw;
}

div.visBlock .dynamicBlock{
  /* position: relative; */
}



.right_changingCharts img{
  width: 70vw;
}
